* {
    font-family: "Berlin Sans FB";
    text-transform: capitalize;
}
/* navbar start */
#navbarNav {
    /* margin-left: 10px; */
    margin-top: 20px;
    height: 30px;

}

#navbarNav ul li a {
    color :black;
    margin-top: 20px;
}

#logo {
    margin-right: 200px;
    position: relative;
    top:15px;
}

#sitename{
    position: relative;
    right:660px;
    top:50px;
    /* color: #000; */
    font-weight: bolder;
}
#logout{
height: 40px;
margin-top: 20px;
margin-left: 10px;
background-color: white;
box-shadow: 5px 5px  #2E2F35;
border-color: #222222;
}
#logout a{
    text-decoration: none;
    color: #222222;
    }
/* navbar end */
.mask{
    -webkit-mask-image: url(../img/user/qa.png);
    /*{{asset("assets/")}}*/
    mask-image: url(../img/user/qa.png);
    mask-repeat:repeat;
    -webkit-mask-repeat: repeat;
    position: absolute;
    z-index: 1;

}
.container{
    position: absolute;
    z-index: 2;
    top:220px;
    width: 50%;
    margin-left: 25%;
}
.card{
    background-color: #e0f8f2d8;


}
.card-body{
    background-color: transparent;
}
#hello{
    margin-top: 25px;
}
#smile{
    position: relative;
    left:20%;
}
#smile img{
    width:220px;
    height:100px;
}
#but2{
    margin-left: 500px;
    margin-top: 30px;
    background-color: #FF6D2C;
    box-shadow: 5px 5px  #2E2F35;
    border-color: #222222;
    border-radius:10px ;
    -webkit-border-radius:10px ;
    -moz-border-radius:10px ;
    -ms-border-radius:10px ;
    -o-border-radius:10px ;
    color: white;
}
#gender{
    margin-top: 20px;
    margin-left: 20px;
}

/* small size */
@media (max-width: 500px) and (max-height:1000px)   {
    .mask{
        -webkit-mask-image: url(../img/user/qa.png);
        mask-image: url(../img/user/qa.png);
        mask-repeat:repeat;
        -webkit-mask-repeat: repeat;
        height:100vh;
    }
}

/* medium near to large */
@media (max-width: 950px) and (max-height:1400px)   {
    .mask{
        -webkit-mask-image: url(../img/user/qa2.png);
        mask-image: url(../img/user/qa2.png);
        mask-repeat:repeat;
        -webkit-mask-repeat: repeat;
        height:100vh;
    }
}
