/* navbar start */
*{
    /* background-color: black; */
}
#navbarNav {
    /* margin-left: 10px; */
    margin-top: 20px;
    height: 30px;

}

#navbarNav ul li a {
    color :black;
    margin-top: 20px;
}

#logo {
    margin-right: 200px;
    position: relative;
    top:15px;
}

#sitename{
    position: relative;
    right:660px;
    top:50px;
    /* color: #000; */
    font-weight: bolder;
}
#logout{
height: 40px;
margin-top: 20px;
margin-left: 10px;
background-color: white;
box-shadow: 5px 5px  #2E2F35;
border-color: #222222;
color: #222222;
}
/* navbar end */